@charset "UTF-8";

/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --fonte-padrao: "Quicksand", Verdana, Helvetica, sans-serif;
  --fonte-destaque: "Bebas Neue", sans-serif;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* Deixar os contornos das fontes mais suaves */
  -webkit-font-smoothing: antialiased;

  font-family: var(--fonte-padrao);
  background: var(--clr-grey-10);
  color: var(--co0);
  line-height: 1.5;
  font-size: 0.875rem;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--fonte-padrao);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--cor4);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

:root {
  --cor0: #f2f2f2;
  --cor1: #d9d9d9;
  --cor2: #a6a6a6;
  --cor3: #8c8c8c;
  --cor4: #0d0d0d;
}

/*
=============== 
Navbar
===============
*/

nav {
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}

.nav-toggle {
  font-size: 1.5rem;
  color: var(--cor2);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}

.nav-toggle :hover {
  color: var(--clr-primary-1);
  transform: rotate(90deg);
}

.logo {
  padding: 10px;
  max-height: 100px;
  max-width: 500px;
  flex: 1;
}

.links {
  height: 0px;
  transition: var(--transition);
  overflow: hidden;
  text-align: center;
}

.links a {
  color: var(--clr-grey-3);
  font-size: 1.2rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}

.links a:hover {
  background: var(--clr-primary-8);
  color: var(--clr-primary-5);
  padding-left: 1.5rem;
}

.show-links {
  height: 20rem;
}

.social-icons {
  display: none;
}

/* LUPA - MECANISMO DE BUSCA - SEARCH */

/* .busca {
  margin: 0 20px;
} */

/* .busca input {
  height: 35px;
  width: 190px;
  padding: 15px;
  background-image: url("./imagens/icon-search.png");
  background-repeat: no-repeat;
  background-position: 90%;
  border: 1px solid gray;
} */

@media screen and (min-width: 1200px) {
  .nav-center {
    max-width: 1540px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  .nav-header {
    padding: 0;
  }

  .nav-toggle {
    display: none;
  }

  .links {
    height: auto;
    display: flex;
  }

  .links a:hover {
    padding: 0;
    background: transparent;
  }

  .social-icons {
    display: flex;
    gap: 10px;
  }

  .social-icons a:hover {
    color: var(--clr-primary-7);
  }
}

/*
=============== 
MAIN
===============
*/

main {
  display: flex;
  flex-direction: column;
  background-color: var(--cor0);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  min-width: 320px;
  max-width: 1400px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 15px;
  box-shadow: 0px 0px 10px black;
  border-radius: 10px;
  align-items: center;
}

main p {
  text-align: justify;
  text-indent: 30px;
  font-size: 1.1em;
  line-height: 2em;
}

main strong {
  color: var(--cor3);
  font-weight: bold;
}

/*
=============== 
INICIO // PERFIL
===============
*/

.perfil {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  row-gap: 20px;
}

.perfil img {
  border: solid purple;
  max-width: 60%;
}

.txt-perfil {
  flex: 0 35%;
  min-width: 300px;
  align-self: center;
  padding: 40px;
  background-color: var(--cor1);
  border-radius: 30%;
}

.txt-perfil h2 {
  text-align: center;
}

/*
=============== 
WELCOME
===============
*/

.welcome {
  max-width: 100%;
  column-count: 2;
  padding: 50px;
}

/*
=============== 
ABOUT-ME
===============
*/

.about-me {
  display: flex;
  flex-flow: row wrap;
  padding: 15px;
  margin: 0px 0px 50px 0px;
  justify-content: center;
  align-content: center;
  column-gap: 20px;
  background-color: var(--cor1);
  align-items: center;
}

.about-me article {
  flex: 2;
  min-width: 300px;
}

.about-me img {
  border-radius: 10%;
  flex: 1;
  max-width: 600px;
}

/* Parte do CONTATO*/

.contact {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-bottom: 50px;
  max-width: 100%;
}

.contact ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 30px;
}

/*
=============== 
FORM / FORMULÁRIO
===============
*/

.form {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.form label {
  font-size: 1.2rem;
  text-align: ;
}

.form input {
  height: 30px;
}

/*
=============== 
VIDEO
===============
*/

.video {
  background-color: var(--cor3);
  margin: 0px 0px 50px 0px;
  position: relative;
  padding-bottom: 50%;
  width: 100%;
}

.video iframe {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}

/* Parte dos BENEFÍCIOS DA TERAPIA*/

.beneficios {
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
  column-gap: 0 px;
  justify-content: space-around;
  margin: 0 0 50px 0;
  row-gap: 15px;
  background-color: var(--cor1);
  align-content: center;
}

.beneficios h2 {
  flex: 100%;
  text-align: center;
  margin: 40px;
}

.terapia-ajuda {
  text-align: center;
}

.beneficios img {
  max-width: 40%;
  border-radius: 60%;
}

/* Dentro de benefícios da terapia fala sobre a TCC*/

.tcc {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  width: 40%;
  text-align: center;
}

/*
=============== 
EBOOK
===============
*/

.ebook {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  margin-bottom: 50px;
  width: 100%;
  align-items: center;
}

.ebook p {
  width: 40%;
}

.ebook img {
  max-width: 60%;
}

.ebook a {
  display: block;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #eee;
  color: #000;
  text-align: center;
  text-transform: uppercase;
}

a:hover {
  background-color: #ddd;
}

/*
=============== 
DEPOIMENTOS/ COMENTÁRIOS
===============
*/

.comments {
  width: 100%;
  background-color: var(--cor2);
  border: 30px var(--cor1) solid;
  border-radius: 10%;
  background-image: linear-gradient(
    60deg,
    var(--cor0),
    var(--cor1),
    var(--cor2)
  );
}

.title {
  text-align: center;
  margin-bottom: 30px;
  padding: 30px;
}

.review {
  display: flex;
  flex-flow: column wrap;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 50px;
}

.img-container img {
  width: 200px;
}

/*
=============== 
PERGUNTAS FREQUENTES // QUESTIONS
===============
*/

.questions {
  width: 100%;
}

.question-title {
  display: flex;
  justify-content: space-between;
}
.question-text {
  display: none;
}

.minus-icon {
  display: none;
}

.show-text .question-text {
  display: block;
}

.show-text .minus-icon {
  display: inline;
}

.show-text .plus-icon {
  display: none;
}

.question-btn {
  height: 50px;
  width: 50px;
}

/*
=============== 
RODAPÉ // FOOTER
===============
*/

footer {
  background-color: var(--cor4);
  color: white;
  text-align: center;
}

footer a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
  color: yellowgreen;
}
